core-toolbar {
  background-color: #dd1337;
  color: white;
}
paper-tabs.white::shadow #selectionBar {
  background-color: #fff;
}

paper-tabs.white paper-tab::shadow #ink {
  color: #fff;
}
paper-tabs.red::shadow #selectionBar {
  background-color: #dd1337;
}

paper-tabs.red paper-tab::shadow #ink {
  color: #fff;
}
#orderBread {
  left: 20px;
  position: relative;
  width: calc(100% - 40px);
  height: 100%;
}
#numOfBread {
  display: inline-block;
  float: left;
  max-width: 800px;
  margin: 30px;
  position: relative;
}
#days{
  /*max-width: 701px;*/
  margin: auto;
}
#submit {
  position: fixed;
  right: 60px;
  bottom: 60px;
}
paper-tabs#days  paper-tab::shadow div.tab-content{
  margin: 0 14.28571428571428571428571428571428571428571px !important;
}
paper-button.red{
  background: #dd1337;
  color: #FAFAFA;
}

paper-slider::shadow #sliderBar::shadow #activeProgress,
  paper-slider::shadow #sliderKnobInner,
  paper-slider::shadow #sliderKnobInner::before {
    background-color: #dd1337;
}

paper-input {
  text-align: left;
}
.spinner {
  display: inline-block;
}
.spinner div, .spinner paper-slider {
  display: block;
}


.custom /deep/ #decorator[focused] /deep/ .floated-label .label-text {
  color: #dd1337;
}

.custom /deep/ .focused-underline {
  background-color: #dd1337;
}
d-calendar {
  margin: 0px 12px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  display: inline-block;
  float: left;
}
d-calendar /deep/ #wrapper #selectedDateHeader {
  color: #FFF;
  background: #fe4d40;
}
d-calendar /deep/ #wrapper #selectedWeekdayHeader {
  color: #FFF;
  background: #f44336;
}
